body {
    background-color:rgb(255, 255, 255)
    text-align: center;
    margin: 20px; 
}

header{

}

.titulo{
    text-align: center;
    border: 4cap;
    border-color: azure;

}

.umEx{
    text-align: center;
}

}